@model List<Examen_UII_Web2.Models.Evidencia>
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <h5 class="card-header">Lista Evidencia</h5>
    <div class="card-body">
        <div class="text-right">
            <a href="~/Evidencia/AgregarEditar/" class="btn btn-primary text-right">
                Nuevo registro
            </a>
        </div>
        <br />

        <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th>ID  </th>
                    <th>Semestre  </th>
                    <th>Modelo </th>
                    <th>Criterios  </th>
                    <th>Nombre Archivo </th>
                    <th>Tamaño</th>
                    <th>Extension</th>
                    <th>Ver Archivo</th>
                    <th>Categoria</th>
                    <th>Acciones</th>
                    <th style="width:250px">Estado  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                <tr>
                    <td>@(s.evidencia_id)</td>
                    <td>@(s.semestre_id)</td>
                    <td>@(s.modelo_id)</td>
                    <td>@(s.modelo_id)</td>
                    <td>@(s.archivo)</td>
                    <td>@(s.tamanio)</td>
                    <td>@(s.tipo)</td>
                    <td> <img src="~/Imagenes/im.png" height="40" width="40" /></td>
                    <td>@(s.categoria_id)</td>

                    <td style="align-content:center">
                        <a href="~/Control/Visualizar/@s.evidencia_id" class="btn btn-xs btn-warning btn-sm">Visualizar</a>
                        <a href="~/Control/AgregarEditar/@s.evidencia_id" class="btn btn-xs btn-primary btn-sm">Modificar</a>
                        <a href="~/Control/Eliminar/@s.evidencia_id" class="btn btn-xs btn-danger btn-sm" onclick="return confirm('¿Esta Seguro de Eliminar.........?');">Eliminar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
